body{
	margin: 0;
	padding: 0;
	background: url(pc8.jpg);
	background-size: cover;
	font-family:sans-serif;
}
.title{
text-align: center;
padding: 50px 0 20px;
}
.title h1
{
	margin:0;
	padding:0;
	color: #262626;
	text-transform: uppercase;
	font-size:36px;}
.li a{
	text-decoration:none;
	color:#000; 
	padding:5px 20px;
	border:1px solid transparent;
	transition: 0.6s ease;
}
.container
{
	width:50%;
	height:400px;
	background: #fff;
	margin:0 auto;
	box-shadow: 0 15px 40px rgba(0,0,0,0.5);

}
.container .left
{
	float:left;
	width: 320px;
	height:400px;
	background: url(oc9.jpg);
	background-size: cover;
	box-sizing: border-box;
}
.container .right
{
	float:right;
	width:50%;
	height:400px;
	box-sizing:border-box;
	}
	.formbox
	{
		width:100%;
		padding: 80px 40px;
		box-sizing: border-box;
		height: 400px;
		background: #fff;

	}
	.formbox p
	{
		margin: 0;
		padding: 0;
		font-weight:bold;
		color:#262626;
	}
	.formbox input 
	{
		width:100%;
		margin-bottom:20px;
	}
	.formbox input[type="text"],
	.formbox input[type="password"]
	{
		border: none;
		border-bottom:2px solid #000;
		outline: none;
		height: 40px;

	}
	.formbox input[type="text"]:focus,
	.formbox input[type="password"]:focus
	{
	border-bottom:2px solid #262626;	
	}
	.formbox input[type="submit"]
	{
		border: none;
		outline: none;
		height: 40px;
		color:#fff;
             background: #000;
             cursor:pointer;


	}
	.formbox input[type="submit"]:hover
	{
		background: #262626;

	}
	.formbox a
	{
		color: #000;
		font-size: 12px;
		font-weight: bold;

	}
